<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vérification Admin</title>
  <script src="{{ url_for('static',filename="js/tailwind.js")}}"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<form action="verification" method='POST'>
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">🔒 Identification Administrateur</h2>

    <div class="mb-4">
      <label for="nom" class="block text-gray-600 font-medium">Nom :</label>
      <input type="text" id="nom" name="nom" placeholder="Entrez votre nom"  requied
             class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="mb-4">
      <label for="prenom" class="block text-gray-600 font-medium">Prénom :</label>
      <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom"  requied
             class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="mb-4">
      <label for="code" class="block text-gray-600 font-medium">Code secret :</label>
      <input type="password" id="code"  name="code" placeholder="Entrez le code"  requied
             class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-red-500">
    </div>

    <button type="submit"
            class="w-full bg-blue-500 text-white font-bold py-2 rounded hover:bg-blue-600 transition">
      Vérifier
    </button>

    <div id="resultat" class="mt-4 text-center text-red-800">{{message}}</div>
  </div>
</form>
</body>
</html>
